.badge {
    border: 1.5px solid var(--colors-tertiary--500);
    border-radius: 3px;
    color: var(--colors-tertiary--500);
    display: inline-block;
    font-size: 0.92rem;
    font-weight: normal;
    line-height: 1;
    padding: 0.15em 0.34em;
    vertical-align: middle;
}