.link {
    align-items: center;
    display: flex;
}

.element {
    margin-left: 0.75rem;
}

.icon {
    margin-right: 0.75rem;
}

.icon::after {
    background-color: var(--colors-primary--500);
    border-radius: 50%;
    content: "";
    display: block;
    height: 0.5em;
    width: 0.5em;
}

.online .icon::after {
    background-color: var(--colors-active--500);
}

.unread {
    font-weight: bold;
}