.link {
    align-items: center;
    display: flex;
    color: var(--colors-secondary--500);
    padding: 0.5rem 0.75rem;
    user-select: none;
    cursor: pointer;
}

.unread {
   font-weight: bold;
}

.element {
    margin-left: 0.75rem;
}

.icon {
    margin-right: 0.75rem;
}

.direct {
    border-radius: 50%;
    background-color: var(--colors-primary--500);
    content: "";
    display: block;
    height: 0.7em;
    width: 0.7em;
}

.red {
    background-color: var(--colors-primary--500);
}

.green {
    background-color: var(--colors-active--500);
}

.link.active {
    background-color: #391419;
    border: 1px solid #9c3230;
}

.link:focus,
.link:hover {
    cursor: pointer;
    background-color: var(--colors-bg--300);
    border: 1px solid #5d2322;
}

.badge {
    display: inline-block;
    border: 1.5px solid var(--colors-tertiary--500);
    border-radius: 3px;
    color: var(--colors-tertiary--500);
    font-size: 0.92rem;
    font-weight: normal;
    line-height: 1;
    padding: 0.15em 0.34em;
    vertical-align: middle;
    user-select: none;
}

.element {
    margin-left: 0.75rem;
}